.m-t{
  margin-top: 5rem;
}
.f-l{
  float: left;
}
.color{
  background-color: rgb(1, 27, 44);
}
.b-g{
  background-color: rgb(253, 253, 252);
  border:1px solid rgb(209, 208, 205);;
}
.d-flex{
  display: flex;
  justify-content: space-between;
}
.p-t{
  margin-top: 25px;
}
.p-l{
  padding-left: 15px;
}